@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@300&display=swap');
body {
    /* display: flex; */
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-width: 60vw;
    min-height: 100vh;
    background-color: #ebebeb;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

button {
    border: none;
    height: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    outline: none;
    background-color:cornflowerblue;
    color: blanchedalmond;
}

.box {
    box-shadow:
  0 5px 5.5px rgba(0, 0, 0, 0.03),
  0 10.6px 8.7px rgba(0, 0, 0, 0.063),
  0 22px 30px rgba(0, 0, 0, 0.1);
  
}

.button-shadow {
    box-shadow: 2px 3px 7px rgb(184, 184, 184);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 3px 10px #b1afaf, 0px 2px 5px #b1afaf;
    z-index: 1;
    
}

#logo img {
    width: 2rem;
    margin: 0.5rem;
}

.search-wrapper {
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

#search-bar {
    display: inline-flex;
    position: relative;
    margin: 5px;
    box-shadow: 2px 3px 7px rgb(184, 184, 184);
    border-radius: 20px;
}

#search-input {
    border-radius: 20px;
    border: 0;
    width: 100%;
    height: 40px;
    font-weight: bold;
    padding: 2px 23px 2px 30px;
    outline: 0;
}

#search-button {
    background-color: rgb(246, 126, 46);
    border: none;
    color: cornsilk;
    border-radius: 20px;
    height: 1.5rem;
    padding: 0px 20px 0px 20px;
    margin: auto;
    margin-right: 0.5em;
}

.filter-button {
    height: 1.5rem;
    border: none;
    border-radius: 20px;
    background-color: cornflowerblue;
    color: white;
    padding: 0 20px 0 30px;
}
.icon-light{
    font-family: "Material Icons";
    color: #f1f0ef;
    position: absolute;
    right: 2.5rem;
}

.icon-black{
    font-family: "Material Icons";
    color: #2b2a29;
    position: absolute;
    /* right: 2.5rem; */
}



#search-bar, .filter-button:hover {
    box-shadow: 1px 2px 8px grey;
}

#search-button:hover {
    background-color: rgb(211, 84, 11);
}

#search-icon {
    position: absolute;
    left: 10px;
    top: 12px;
}


.results {
    display: flex;
    align-self: center;
    margin: 50px 60px;
    flex-wrap: wrap;
    width: 80vw;
    padding: 5vh;
    justify-content: space-evenly;
}

.result {
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 10px;
    margin: 1rem 0.5rem 1rem 0.5rem;
    /* padding: 5px; */
}

.recipe-title {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.recipe-img {
    width: 100%;
    height: 45%;
    background-color: rgb(233, 232, 232);
    position: relative;
}
.recipe-img i{

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    color: rgb(214, 190, 177);
}
.recipe-img i:hover{
    color: rgb(211, 84, 11);
}
.result img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.filter {
    background-color: #ebebeb;
    position: fixed;
    width: 0vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.9s;
    padding-top: 5vh;
    color: rgb(37, 34, 34);
    border-right: 1px solid rgb(192, 192, 192);
    text-align: center;
}

.filter.active {
    width: 25vw;
}

.close-filter{
    position: absolute;
    top:5px;
    right: 5px;
}
.close-filter:hover{
    background-color: black;
    color: blanchedalmond;
    margin: auto;
}

.clear-filter{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.clear-filter i{
    position: absolute;
    left: 1.5rem;
    color: blanchedalmond;
  
}
.clear-filter-btn{
    padding-left:2rem;
    width: auto;
    height: auto;
    text-align: center;
}

#filter button {
    background-color: #fb931b;
    color: blanchedalmond;
}

.filter-title {
    text-align: left;
    padding-left: 1rem;
    font-size: 1rem;
    margin: 1rem;
    border-bottom: 1px solid #a8a8a8;
}

.filter-list {
    font-size: 0.75rem;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align:start;
  
}



@media screen and (max-width: 800px) {
    .filter {
        width: 0vw;
    }
    .filter.active {
        width: 100vw;
    }
}