@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@300&display=swap');

body{
    /* display: flex; */
    /* flex-direction: column; */

    margin: 0;
    width: 100vw;
    height: 100vh;

    min-width: 60vw;
    min-height: 100vh;
    background-color: #ebebeb;

    font-family: 'Poppins', sans-serif;
}
.box{
    box-shadow:
    0 22.1px 10.2px -39px rgba(0, 0, 0, 0.036),
    0 37.9px 19.3px -39px rgba(0, 0, 0, 0.052),
    0 48.6px 30.8px -39px rgba(0, 0, 0, 0.066),
    0 59.4px 47.5px -39px rgba(0, 0, 0, 0.083),
    0 105px 87px -39px rgba(0, 0, 0, 0.12)
  ;}


nav {
    height: 10vh;
    background-color: #FC5130;
    color: #D6D6D6;
    width: 100vw;
    text-align: center;
}


.results{
    display: flex;
    flex-wrap:wrap;
    width: 85vw;  
    padding: 5vh;
    justify-content: space-evenly;

}
.result{
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 10px;
    /* border: 1px solid black; */
    margin: 10px 10px 10px 10px;
    padding:10px;
}

.recipe-title{
   
    text-align: center;
    border: 1px solid black;
    margin-bottom: 10px;

}
.recipe-img{
    width: 80%;
}
.result img{
    width: 200px;
    border-radius: 5px;
}
#filter{
    background-color: rgb(230, 230, 230);
    width: 25vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.9s;
    padding-top: 5vh;
    color: rgb(37, 34, 34);
    border-right: 1px solid  rgb(192, 192, 192);;
 
}
.filter-list {
    background-color:rgb(240, 240, 240); ;
    display: flex; 
    font-size: 3vh; 
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:right;
    margin: 5vh;
    text-align: left;
    border:1px solid black;
    
}

